body, h1, h2, h3, p, ul, li, input, button, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background: #000f4d;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
}

header nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


.banner {
    text-align: center;
    background: #00fff7;
    color: #000000;
    padding: 50px 20px;
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}


.products {
    padding: 20px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 1.2rem;
    color: #007bff;
}

.product button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background: #0056b3;
}


.contact {
    background: #fff;
    padding: 20px;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    padding: 10px;
    background: #0a930f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background: #0056b3;
}


footer {
    text-align: center;
    background: #000f4d;
    color: #fff;
    padding: 10px 0;
}